<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../styles/style.css"/>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <title>signup</title>
</head>
<body>
    <div class="container">
        <div class="card card-container">
            <h2 class="text-center">Register</h2>
<p id="profile-name" class="profile-name-card"></p>
            <form class="form-signin">
                <span id="reauth-email" class="reauth-email"></span>
                <input type="email" id="inputEmail" class="form-control" placeholder="Email address">
                <input type="password" id="inputPassword" class="form-control" placeholder="Password">
                <button class="btn btn-lg btn-primary btn-block btn-signin" type="button" id="signup">Sign Up</button>
            </form>
            <a href="../index.html" class="forgot-password">
                Already a User?
            </a>
        </div>
    </div>
             
           <script src="../scripts/signup.js"></script>

</body>
</html>